//--------------------------------------------------------------------------------
// WIFI configuration
//--------------------------------------------------------------------------------
// AP mode password
const char WiFiAPPSK[] = "";

// Wi-Fi network to connect to (if not in AP mode)
char* ssid = "";
char* password = "";

const bool apMode = false; // Whether if ESP8266 should connect to an existing WIFI or mount its own AP

// IP configuration for AP
IPAddress WiFiIp(192, 168, 4, 1);
IPAddress WiFiNMask(255, 255, 255, 0);

//--------------------------------------------------------------------------------
// LEDs Strip configuration
//--------------------------------------------------------------------------------
#define DATA_PIN      D5
#define LED_TYPE      WS2811
#define COLOR_ORDER   RGB
#define NUM_LEDS      200

#define MILLI_AMPS         2000 // IMPORTANT: set the max milli-Amps of your power supply (4A = 4000mA)
#define FRAMES_PER_SECOND  120  // here you can control the speed. With the Access Point / Web Server the animations run a bit slower.
